@import url('https://fonts.bunny.net/css2?family=IBM+Plex+Sans+JP:wght@100..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.bunny.net/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.bunny.net/css2?family=Noto+Sans+Symbols:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/forms";

@variant dark (&:where(.dark, .dark *));

:root {
    font-family: "IBM Plex Sans", "IBM Plex Sans JP", "Noto Sans Symbols", Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Colors (Light theme) */
    --color-ink-50: #f5eeeb;
    --color-ink-100: #eae3e1;
    --color-ink-200: #d8d2cf;
    --color-ink-300: #b4adab;
    --color-ink-400: #938d8a;
    --color-ink-500: #6b6563;
    --color-ink-600: #575250;
    --color-ink-700: #393432;
    --color-ink-800: #191412;
    --color-ink-900: #0f0b0a;
    --color-surface-10: oklch(96.8% 0.007 247.896);
    --color-surface-20: oklch(92.9% 0.013 255.508);
    --color-surface-30: oklch(89.9% 0.018 253.894);
    --color-surface-40: oklch(82.4% 0.026 255.312);
    --color-surface-50: oklch(70.4% 0.04 256.788);
    --color-surface-60: oklch(55.4% 0.046 257.417);
    --color-surface-70: oklch(44.6% 0.043 257.281);
    --color-primary-10: oklch(46.67% 0.1514 20.8);
    --color-primary-20: oklch(43.02% 0.1355 20.72);
}

:root.dark {
    --color-ink-50: #0f0b0a;
    --color-ink-100: #191412;
    --color-ink-200: #393432;
    --color-ink-300: #575250;
    --color-ink-400: #6b6563;
    --color-ink-500: #938d8a;
    --color-ink-600: #b4adab;
    --color-ink-700: #d8d2cf;
    --color-ink-800: #eae3e1;
    --color-ink-900: #f5eeeb;
    --color-surface-50: oklch(17.5% 0.022 257);
    --color-surface-40: oklch(22.0% 0.025 257);
    --color-surface-30: oklch(26.5% 0.028 257);
    --color-surface-20: oklch(30.0% 0.030 257);
    --color-surface-10: oklch(35.0% 0.032 257);
    --color-surface-00: oklch(41.0% 0.035 257);
    --color-primary-10: oklch(65.2% 0.1676 14);
    --color-primary-20: oklch(49.8% 0.149 14);
}

@theme {
    --color-ink-50: --var(--color-ink-50);
    --color-ink-100: --var(--color-ink-100);
    --color-ink-200: --var(--color-ink-200);
    --color-ink-300: --var(--color-ink-300);
    --color-ink-400: --var(--color-ink-400);
    --color-ink-500: --var(--color-ink-500);
    --color-ink-600: --var(--color-ink-600);
    --color-ink-700: --var(--color-ink-700);
    --color-ink-800: --var(--color-ink-800);
    --color-ink-900: --var(--color-ink-900);
    --color-surface-10: var(--color-surface-10);
    --color-surface-20: var(--color-surface-20);
    --color-surface-30: var(--color-surface-30);
    --color-surface-40: var(--color-surface-40);
    --color-surface-50: var(--color-surface-50);
    --color-surface-60: var(--color-surface-60);
    --color-primary-00: oklch(70.5% 0.145 18);
    --color-primary-10: var(--color-primary-10);
    --color-primary-20: var(--color-primary-20);
    --color-fill: #eae3e1;
    --font-mplus: "M PLUS Rounded 1c", sans-serif; 
    --default-transition-duration: 300ms;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.card {
    padding: 2em;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

html, body, #app {
  height: 100%;
  margin: 0;
}

.bg-grain {
  position: relative;
}

.bg-grain::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='200'><filter id='noise'><feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noise)' /></svg>");
  background-size: 32px 32px;
  background-repeat: repeat;

  opacity: 0.15;
  mix-blend-mode: multiply;
}

/* Hide scrollbar in Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
